/* GENERALE */


body {
    font-family: Verdana;
}

body::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra di scorrimento per WebKit */
}

.list-group-item {
    background-color: whitesmoke;
}

.navbar {
    padding: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px lightgray;
}

#btn_search {
    border: 1px solid #1B1A17;
}

#btn_search:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-input {
    margin-top: 10px;
}

input[type="date"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    width: 200px;

}





.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    z-index: 0;
    /* Assicurarsi che il div principale sia sopra il pseudo-elemento */
}

.modal-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* Bordo arrotondato per seguire il div principale */
    padding: 4px;
    /* Spazio tra il contenuto del div e il bordo */
    background: linear-gradient(45deg, grey, #fdb833, grey, #fdb833, grey, #fdb833);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
    /* Assicurarsi che il pseudo-elemento sia sotto il div principale */
}

#signBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modifyBtn1:hover,
#modifyBtn2:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_note {
    --bs-btn-hover-color: rgba(0, 0, 0, 0);
    --bs-btn-active-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.btn_cancel {
    --bs-btn-hover-color: rgba(0, 0, 0, 0);
    --bs-btn-active-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.btn_note:hover {
    transform: scale(1.2);
}

.btn_cancel:hover {
    transform: scale(1.2);
}

#logo {
    width: 40px;
    margin-left: 20px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-container::-webkit-scrollbar {
    width: 12px;
    /* Larghezza della scrollbar */
    background-color: white;
    /* Colore di sfondo della scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Colore del "pollice" della scrollbar */
    border-radius: 10px;
    /* Angoli arrotondati del "pollice" */
    border: 3px solid #f1f1f1;
    /* Margine attorno al "pollice" per l'effetto di spazio */
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Colore del "pollice" quando è in hover */
}

.card-container::-webkit-scrollbar-button {
    display: none;
    /* Nasconde le frecce */
}

.card-title {
    font-weight: 600;
    color: grey;
    font-size: 1.25rem;
    justify-content: flex-end;
}

.card-text {
    font-weight: 500;
    font-size: medium;
}

.offcanvas-header {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    /* Rimuove la sottolineatura */
    color: inherit;
    /* Usa il colore del testo circostante o puoi specificare un colore */
}


.nav-link {
    font-size: small;
    font-weight: 600;
}

li .btn {
    font-size: medium;
    font-weight: 500;
    text-decoration: underline;
}


#corpoHome {
    background-color: whitesmoke;
    padding: 10px;
    padding-top: 20px;
    padding-left: 75px;
    font-weight: 600;
    color: #fdb833;
    font-size: 2rem;
}