/* GENERALE */

body {
    font-family: Verdana;
}

body::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento per WebKit */
}



.navbar {
    border-bottom: 1.5px solid #1B1A17;
    padding: 15px;
    background-color: white;
}

#btn_search {
    border: 1px solid #1B1A17;
}

#logo {
    width: 8%;
}

#section {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.card-container {
    width: 90%;
    text-align: center;
    overflow-x: auto; 
    display: flex;
}

.card-container::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento per WebKit */
}

.card {
    flex-shrink: 0;
    white-space: wrap;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
}
