/* GENERALE */

body {
    font-family: Verdana;
}

body::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra di scorrimento per WebKit */
}

.list-group-item {
    background-color: whitesmoke;
}

.navbar {
    padding: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px lightgray;
}

#btn_search {
    border: 1px solid #1B1A17;
}

#btn_search:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#signBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modifyBtn1:hover, #modifyBtn2:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 40px;
    margin-left: 20px;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-container::-webkit-scrollbar {
    width: 12px;
    /* Larghezza della scrollbar */
    background-color: whitesmoke;
    /* Colore di sfondo della scrollbar */
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Colore del "pollice" della scrollbar */
    border-radius: 10px;
    /* Angoli arrotondati del "pollice" */
    border: 5px solid #f1f1f1;
    /* Margine attorno al "pollice" per l'effetto di spazio */
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Colore del "pollice" quando è in hover */
}

.card-container::-webkit-scrollbar-button {
    display: none;
    /* Nasconde le frecce */
}

.card-title {
    font-weight: 600;
    color: grey;
    font-size: 1.25rem;
    justify-content: flex-end;
}

.card-text {
    font-weight: 500;
    font-size: medium;
}

.offcanvas-header {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    /* Rimuove la sottolineatura */
    color: inherit;
    /* Usa il colore del testo circostante o puoi specificare un colore */
}


.nav-link {
    font-size: small;
    font-weight: 600;
}

li .btn {
    font-size: medium;
    font-weight: 500;
    text-decoration: underline;
}

/* HOME*/

#corpoHome {
    background-color: whitesmoke;
    padding: 10px;
    padding-top: 20px;
    padding-left: 75px;
    font-weight: 600;
    color: #fdb833;
    font-size: 1.5rem;
}